NODE_ENV=development
PORT=3000

POSTGRES_USER=securedocs
POSTGRES_PASSWORD=securedocs_dev
POSTGRES_DB=securedocs
DATABASE_URL=postgresql://securedocs:securedocs_dev@localhost:5433/securedocs?schema=public

JWT_SECRET=cambia-esto-por-un-secreto-largo-y-aleatorio
JWT_EXPIRES_IN=1h

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET=securedocs
